<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="public/images/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="/css/item.css">
  <title>Item</title>
</head>

<section class="container" id="item__header">
  <div class="header__item__container">
    <a th:href="@{/list}" id="back-to-list">
      <i data-lucide="chevron-left"></i>
    </a>
  </div>
  <!-- END MAIN -->
  <div class="container__img__item" th:object="${item}">
    <img th:src="@{${'/img/img-bd/' + item.name + '.png'}}" />
  </div>
  <h1 class="name__item" th:text="${item.name}"></h1>
</section>
<!-- END ITEM -->

<!-- RICO EM VITAMINAS -->
<!-- RICO EM VITAMINAS -->
<!-- RICO EM VITAMINAS -->
<!-- RICO EM VITAMINAS -->
<!-- RICO EM VITAMINAS -->
<form method="post" th:action="@{/save/{id}(id=${item.id})}" th:object="${item}">
  <section class="container" id="item__description">
    <div class="item__description__container">
      <h2>Detalhes</h2>
      <p th:text="${item.description}"></p>
    </div>
  </section>
  <!-- END DESCRIPTION -->

  <!-- NAVBAR -->
  <div th:fragment="frag__navbar">
    <div class="header__navbar">
      <nav class="navbar container">
        <a th:href="@{/index}">
          <i data-lucide="home" class="navbar__home"></i>
        </a>
        <a th:href="@{my-list}">
          <i data-lucide="list-checks" class="navbar__icon"></i>
        </a>
        <button type="submit" class="navbar__content-circle">
          <i th:attr="data-lucide=${selected}" class="navbar__search"></i>
        </button>

        <!-- <button type="submit" class="navbar__content-circle">
          <i data-lucide="check" class="navbar__search"></i>
        </button> -->
        <div class="navbar__circle-shadow"></div>
        <div class="navbar__circle"></div>
      </nav>
    </div>
  </div>
</form>

<script src="https://unpkg.com/lucide@latest"></script>
<script>
  lucide.createIcons();
</script>
</body>

</html>