<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="/css/list.css">
  <title>List</title>
</head>

<body>
  <!-- HEADER -->
  <div th:replace="fragment/fragment :: frag__header"></div>

  <!-- NAVBAR -->
  <div th:replace="fragment/fragment :: frag__navbar"></div>

  <section class="container">
    <h2 class="section__title">Recomendações do dia</h2>

    <div class="fruits__container grid">
      <div th:each=" variavel: ${my__list}">
        <a th:href="@{item-{id}(id=${variavel.id})}" class="fruits__card fruits__white">
          <img th:src="@{${'/img/' + variavel.name + '.png'}}" alt="">
        </a>
      </div>
    </div>
  </section>
  </div>
  <!-- FIM FRUTAS -->

  <!-- LUCIDE -->
  <div th:replace="fragment/fragment :: frag__lucide"></div>
</body>

</html>